name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Репозиторийди көчүрүү
        uses: actions/checkout@v4

      - name: Python орнотуу
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Pytest орнотуу
        run: pip install pytest

      - name: Юнит-тесттерди иштетүү
        run: pytest test_logic.py